apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-service
  labels:
    app: eshelf
    tier: ml
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-service
  template:
    metadata:
      labels:
        app: ml-service
    spec:
      containers:
        - name: ml-service
          image: your-docker-registry.io/eshelf/ml-service:latest
          ports:
            - containerPort: 5201
          env:
            - name: NODE_ENV
              value: "production"
---
apiVersion: v1
kind: Service
metadata:
  name: ml-service
spec:
  selector:
    app: ml-service
  ports:
    - port: 5201
      targetPort: 5201


